<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IDClientServerSection</servlet-name>
        <servlet-class>netbeans.qsjkafka.IDClientServerSection</servlet-class>
        <init-param>
            <param-name>machines</param-name>
            <param-value>987654321*987654321</param-value>
        </init-param>
        <init-param>
            <param-name>values</param-name>
            <param-value>5100</param-value>
        </init-param>
        <init-param>
            <param-name>items</param-name>
            <param-value>2120*12</param-value>
        </init-param>
        <init-param>
            <param-name>cashe</param-name>
            <param-value>21000*12</param-value>
        </init-param>
        <init-param>
            <param-name>impost</param-name>
            <param-value>21000*12</param-value>
        </init-param>
        <init-param>
            <param-name>works</param-name>
            <param-value>17000*64</param-value>
        </init-param>
        <init-param>
            <param-name>jobs</param-name>
            <param-value>17000*64</param-value>
        </init-param>
        <init-param>
            <param-name>states</param-name>
            <param-value>17000*64</param-value>
        </init-param>
        <init-param>
            <param-name>event</param-name>
            <param-value>17000*64</param-value>
        </init-param>
        <init-param>
            <param-name>local</param-name>
            <param-value>27000*65</param-value>
        </init-param>
        <init-param>
            <param-name>builds</param-name>
            <param-value>27000*65</param-value>
        </init-param>
        <init-param>
            <param-name>safes_jobs</param-name>
            <param-value>27000*65</param-value>
        </init-param>
        <init-param>
            <param-name>agreements</param-name>
            <param-value>27000*512</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>IDClientServerSection</servlet-name>
        <url-pattern>/IDClientServerSection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
